<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <!-- <ion-grid class="ion-no-padding"> -->
  <ion-grid>
    <!-- class="ion-align-items-start" -->
    <ion-row class="ion-justify-content-center" >
      <ion-col size="4">
        Row 1 Col 1
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Super description</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
